.postImage {

  width: 82px;
  height: 82px;
  overflow: hidden;
  text-align: center;
  display: block;
  border-radius: 16px;

  img {
    
    height: 100%;
    margin: 0 auto;
  }

  &.featureImg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    img {
      width: auto;
    }
  }

}

@media only screen and (max-width: 450px) {
  .postImage {

    width: 100%;
    height: auto;
  
    img {
      width: 100%;
      height: auto;
    }
  }

}